body {
    background-color: black;
}
.slider {
    width: 800px;
    height: 600px;
	  position: relative;
    margin: 50px auto;
}

.slides {
    overflow: hidden;
}
.slider input[type=radio]{
    display: none;
}

.img-box {
    display: flex;
    width: 100%;
    transition: all 0.5s;
}

.img-box img {
    width: 100%;
    flex-shrink:0;
    border-radius: 1%;
}

.text-slides {
    overflow: hidden;
}

.text-box {
    display: flex;
    width: 100%;
    transition: all 0.5s;
}
.text-box p {
    width: 100%;
    flex-shrink:0;
    color: white;
    font-size: 18px;
}
.content {
    display: flex;
    justify-content: space-between;
}
  
  #button-1:checked~.slides .img-box {
    transform: translateX(0);
  }
  
  #button-2:checked~.slides .img-box{
    transform: translateX(-100%);
  }
  
  #button-3:checked~.slides .img-box {
    transform: translateX(-200%);
  }
  #button-4:checked~.slides .img-box {
    transform: translateX(-300%);
  }

  #button-1:checked~.content .text-slides .text-box {
    transform: translateX(0);
  }
  
  #button-2:checked~.content .text-slides .text-box {
    transform: translateX(-100%);
  }
  
  #button-3:checked~.content .text-slides .text-box {
    transform: translateX(-200%);
  }
  #button-4:checked~.content .text-slides .text-box {
    transform: translateX(-300%);
  }

  .custom-radio label {
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 3px solid #71abff;
    background-color: #71abff;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 18px;
  }

  .custom-radio label:hover {
    border: 3px solid white;
    background-color: white;
  }
 
  #button-1:checked~.content .custom-radio label[for="button-1"] {
    border: 3px solid white;
    background-color: black;
  }
  
  #button-2:checked~.content .custom-radio label[for="button-2"] {
    border: 3px solid white;
    background-color: black;
  }
  
  #button-3:checked~.content .custom-radio label[for="button-3"] {
    border: 3px solid white;
    background-color: black;
  }
  #button-4:checked~.content .custom-radio label[for="button-4"] {
    border: 3px solid white;
    background-color: black;
  }

  @media (max-width:760px) {
    .content {
      align-items: center;
      flex-direction: column-reverse;
    }
    .text-box {
      margin-right: 135px;
    }
  }